* {
    box-sizing: border-box;
  }
  html {
    background: linear-gradient(135deg, #7CF1AA, #4D07FC);
    height: 100%;
  }
  .eyedio {
    font-size: 24px;
    font-family: sans-serif;
    color: white;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .eyedio__radio {
    display: none;
  }
  .eyedio__label {
    display: block;
    position: relative;
    padding-left: 1.25em;
    cursor: pointer;
  }
  .eyedio__eye {
    content: '';
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 1em;
    height: 1em;
    border: 2px solid;
    transform: translateY(50%);
    overflow: hidden;
  } 
  .eyedio__eye:after {
    content: '';
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0;
    height: 0;
    border: .125em solid;
    transition: opacity .3s;
    opacity: 0;
  }
  .eyedio__radio:checked + .eyedio__eye:after {
    opacity: 1;
  }
  .eyedio__radio:checked + .eyedio__eye {
    animation: blink .4s 1;
  }
  .eyedio__radio:not(:checked) + .eyedio__eye {
    animation: unblink .4s 1;  
  }
  @keyframes unblink {
    50% {
      height: 0
    }
  }
  @keyframes blink {
    50% {
      height: 0
    }
  }

  .button{
    border: 1px solid white;
    border-radius: 20px;
    height: 40px;
    font-weight: bolder;
    margin: 10px;
    width: 160px;
    padding: 1px;
    background-color: #f1f1f113;
    color: #f0f0f0;
    outline: none;
}

.textbox{
    outline: none;
    border: 0px;
    border-bottom: 1px solid white;
    border-radius: 0px;
    height: 25px;
    margin: 10px;
    width: 250px;
    padding: 1px;
    color: #f0f0f0;
    background-color:#f1f1f113;
    outline: none;
}

@keyframes fadeInUp {
    from {
      -webkit-transform: translate3d(0, 40px, 0);
              transform: translate3d(0, 40px, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
      -webkit-transform: translate3d(0, 40px, 0);
              transform: translate3d(0, 40px, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      opacity: 1;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}
  
.animatedFadeInUp {
    opacity: 0;
}
  
.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
